<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.area_mybatis.mapper.UserMapper">
    <resultMap id="result" type="com.example.area_mybatis.entity.User">
        <result property="name" column="name" />
        <result property="password" column="password"/>
        <result property="number" column="number" />
    </resultMap>

    <select id="ListUser" resultMap="result">
        SELECT * FROM user
    </select>

    <select id="findUserByName" resultMap="result">
        SELECT * FROM user where name=#{name}
    </select>

    <select id="findUserById" resultMap="result">
        SELECT  * FROM user where  id=#{id}
    </select>

    <insert id="insertUser" parameterType="com.example.area_mybatis.entity.User"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO user(
            name,password,number
        )
        VALUES(
        #{name},#{password},#{number}
        )
    </insert>

    <update id="Update" parameterType="com.example.area_mybatis.entity.User">
        update user
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="password != null">password=#{password},</if>
            <if test="number != null">number=#{number}</if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="com.example.area_mybatis.entity.User">
        delete from user where id=#{id}
    </delete>
</mapper>
